<div id="content">

        

            <h3>Submitting Music Questions</h3>

    <p><b>Who can submit music to Crucial Music?</b><br />
    Anyone can submit music as long as he/she owns their own masters and publishing,
 all songs are original, and you have the right to enter into this agreement with us. You must also be registered as a writer with either ASCAP, BMI or SESAC, or your country's Performing Rights Organization (PRO). We DO NOT accept submissions from other placement reps which remove us one step from the actual rights owner. </p>

    <p><b>What if my record label owns/controls the masters and publishing?</b><br />
    Do not submit your music online.  Please have your record label contact us.  Most indie labels are willing to work with us.  If you are signed with a major label, or a label distributed by a major, do not submit to us; we can not take your songs.</p>

    <p><b>What if my record label owns/controls the masters and I own the publishing?</b><br
/>
    Do not submit your music online.  Please have your record label contact us.  Most indie labels are willing to work with us.  If you are signed with a major label, or a label distributed by a major, do not submit to us; we can not take your songs.</p>

<p><b>What if my publisher owns/controls the publishing and I own the masters?</b><br
/>
    Do not submit your music online.  Please have your publisher contact us first. Most indie publishers are willing to work with us.  If you are signed with a major publisher such as Warner Chappell, EMI, Universal, do not submit to us; we can not take your songs.</p>

    <p><b>What if I own my masters and publishing but i have an exclusive administration deal (ie publishing)?</b><br />
    We can not work your music if you have an exclusive administration deal with any company such as Bug Music, Cherry Lane, Tunecore, etc for any country, even though you own your copyrights.

NOTE: If you have a administration deal with Tunecore, it does not allow you to contract with non-exclusive reps who share in publishing performance royalties; do not submit to us if you signed to Tunecore's publishing administration deal or plan to.  A digital distribution deal with them is ok, and we can work with those tracks.</p>

    <p><b>What if I have an exclusive film/tv representation deal?</b><br />
    We can not work your music if you have an exclusive film/tv representation deal with someone like Riptide, APM, Hype Music, or 5 Alarm Music/Rescue Records etc in any country</p>

    <p><b>Can I submit music if I have co-writers?</b><br />
    Yes, you can submit music written with co-writers.  However, your co-writers must own their own publishing, be registered with as a writer with a PRO, and must sign the agreement as well. If you list yourself as the only writer, and sign warranting such, and we find out that there are other parties involved in the ownership of the composition, it will be breach of contract. We also will not accept a signature from one person for another regardless of any verbal understanding between parties.  </p>

    <p><b>Can I submit cover songs? </b><br />
    No. If you create a cover song of another composition, you only own the master but NOT the publishing.  We can not rep covers songs, as this would require third party publishing clearance and that does not work for our one-stop service where we control both master and publishing.  </p>

    <p><b>What if I've used samples in my song(s)?</b><br />
    As long as the samples and beats are buyout and your license covers film/tv synch licensing there are no problems; you may submit the song(s). Be sure to read your license from the sample/beat company as to what it covers before you submit to Crucial</p>

    <p><b>What if I've sampled someone's song in my recording?</b><br />
    We will not accept a song that contains samples or interpolations of someone else's copyrighted music.</p>

    <p><b>What if my song(s) are arrangements of public domain songs?</b><br />
    You may submit arrangements of public domain songs. Please make sure you know who the original composer was, and when they died...and input that info in the description section of the submit form. Public domain status worldwide varies from country to country, so it's safe to submit tracks by composers who have died pre-1900. You can read more in the Music 101 section of the site. </p>

    <p><b>What type of music can I submit?</b><br />
    You can submit all genres of music. Our clients have used all types of songs imaginable.
 We would like our catalog to be a diverse as possible, so that when the unusual request comes in we can make a pitch. BUT you CAN NOT submit cover songs. Also, we mostly specialize in song placements, and do not take as many instrumentals as other catalogs.  Instrumentals that serve as wallpaper cues for Discovery programs and reality shows do not work for us, as we don't have those type of clients.  We like to have instrumentals with the vocals so that editors can cut between the two to work around dialog. The type of instrumentals that work for our clients are Jazz, Electronica, Dance, World, Specialty (ie muzak, period music), Blues, Percussion based Trailer Music, Latin, Classical and Cinematic Scores (for when a character is watching a tv or movie).  We do not take straight up instrumentals of Pop, Rock, Hip Hop, R&B, Solo Piano, Solo Guitar or other "library" underscores.  If we did you wouldn't make money with us, and then you would be upset. </p>

    <p><b>What type of lyric content can I submit?</b><br />
Generally we take all types of lyrics.  However, the tracks that get placed the most are ones where the lyrics are positive and universally applicable.   For every one celebratory love song there are ten heartbreak songs.  Songs about success, overcoming obstacles,  empowerment, happiness, party, celebration of life, positive universal love and other happy themes are the most requested in commercials.  Songs to NOT submit are those that point to a specific person's name or a place.  For example, there is no way we can make a song about Sarah work in any circumstance except deep background use, where no one will be able to hear it.</p>

    <p><b>How do I submit my music to Crucial Music?</b><br />
    You must first set up an account, from the Submit Music tab in the Artist section of the site.  Once your account is setup you will be prompted to begin the online submission process; a series of questions must be completed for each song, and then you can upload a file for each song.  You may return at a later date to submit your music, by logging in and returning to the Submit Music tab.</p>

    <p><b>Must I complete the metadata form for each song?</b><br />
    Yes, you will not be allowed to upload any music until you have completed the metadata form.  The answers you provide us with important information about your song that allows us to categorize and pitch your music when music requests come in.  Without this information we will not be able to adequately know your catalog and pitch your music.</p>

    <p><b>Must I upload the song immediately after completing the metadata form?</b><br />
    No.  You can return to the Submit Music tab at a later date to upload each song.  A note will be included in your Submission History if you haven't uploaded a song, and a link will be provided to do so.</p>

    <p><b>How many songs can I submit?</b><br />
    You can submit up to 3 songs.  You will not be able to submit any more songs until we have reviewed all 3 songs; and returned a reply.</p>

    <p><b>What type of file format can I upload?</b><br />
    After completing the questionnaire for each song, you must upload a 128K mp3 of each song.  Before creating your audio files, please check your ripping program's preferences, so that it is selected to 128K mp3.  Our site will NOT accept other formats, such as Itunes' AAC or M4A or Windows Media Player's WMA files, etc.</p>


    <p><b>What quality standards do you have for the recordings?</b><br />
    We require all submissions to be of master quality.  Your music does not have to be recorded in an expensive studio&mdash;but it should sound like it was.   Demos will not be accepted.</p>

    <p><b>How long will it take for Crucial Music to review my music?</b><br />
    We receive hundreds of submissions a day.  We may not be able to review your music immediately.  Please be patient, and we will inform you via email as soon as we have reviewed your songs.</p>

    <p><b>Will you let me know if my song(s) have been accepted or rejected?</b><br />
    Yes, you will receive an email from us either way.  If your music is accepted into our catalog, you will also receive a contract and a letter explaining the terms of the agreement. You can also review your "submission history" in the My Account tab for a detailed list of tracks accepted, rejected or pending.</p>


    <h3>Contract Questions</h3>

    <p><b>What rights am I giving to Crucial Music?</b><br />
    You authorize us to promote your music to our clients in the film, television, commercial, cable, ringtone (and the like) industries; secure placements, and issue non-exclusive licenses (for both the master recording and the composition) to our clients who use your music (synchronize) in their productions; and their associated soundtracks. </p>

    <p><b>Will I lose ownership in my songs?</b><br />
    You do NOT lose or GIVE UP any ownership of the copyrights in the master recording or the composition.  You are ONLY granting us a NON-EXCLUSIVE right to pitch and license your music to our clients, and share in the revenue for the placement we acquire. </p>

    <p><b>Will I be able to create and sell records with the songs I've licensed to Crucial Music?</b><br />
    You can create and sell records, as long as you maintain ownership of the master recording and composition.  Your deal with us will not prohibit you from doing anything with YOUR music. </p>

    <p><b>Will I be able to secure a record or publishing deal with the songs I've licensed to Crucial Music?</b><br />
    Yes, but you can not have an exclusive label and/or publishing deal and have a non-exclusive with Crucial.  It is costly and time consuming for us to remove your songs from our catalog before the termination date, we ask that you seriously think about your goals before signing our agreement, because if your goal is to secure an exclusive deal within the three years (label, publishing or administrative), we suggest that you not sign the non-exclusive with us now. We understand that you can't predict the future, and should you receive that once-in-a-lifetime offer and you've already signed a deal with us, please inform the prospective agent (that you have an offer from) before signing their deal, that you have an agreement with Crucial Music for the songs in question.  Also, let us know about your offer, and we will evaluate it, and try to work out the best scenario for all parties involved.</p>

    <p><b>Will I be able to work with other agents offering the same services?</b><br />
    Yes, your agreement with Crucial Music is non-exclusive.  You should explore as many opportunities as you can to expose your music. But please note that you can not have an exclusive agreement with another party and also have a non-exclusive agreement with us.  Also we will not let you out of our agreement because another non-exclusive partner has a problem with your agreement with us.</p>

    <p><b>How much will I make on the placements you have secured for me?</b><br />
    You authorize us to negotiate the license (master &amp; synchronization) fee with our clients, collect payment, and pay you 50% of what we receive.  We will negotiate the best rate based on the type of use.  We're not going to GIVE AWAY your music; no "free" use deals will be made.  </p>

    <p><b>How often will I get paid?</b><br />
    Payments will be made quarterly for the money received in the previous quarter (May 15 for 1Q receipts, August 15 for 2Q receipts, November 15 for 3Q receipts, and February 15 for 4Q receipts), if there is more than $50 accrued.  If less than $50 is accrued, payment will be carried over to each next quarter until you reach $50 at which point you will be paid; no statement will be made available until you meet the threshold.  You can login to your account and review/download statements if you have any royalty payments.  If you have no money owed you, your account will not have a royalty statement posted. If you don't see a statement, and you were notified of a placement previously, it means we haven't been paid yet.</p>

<p>If you have tracks with Crucial Music that were submitted by a co-writer/co-owner you will be able to view the royalty statements for your tracks only but your co-writer/co-owner will get paid the full artist share (50%), and you'll need to contact your co-writer/co-owner for your share.</p>

    <p><b>If there is more than one person signing the agreement, will each signatory get paid separately?</b><br />
    No.  We will pay one person, the person listed as the Licensor in the first paragraph of the agreement, the full 50% share of the revenues.  It will be the Licensor's responsibility to pay the other signatories on the agreement as well as any other third parties, such as vocalists, musicians, arrangers, producers, etc, with whom the Licensor has a revenue sharing agreement, from their share of the revenues.</p>

    <p><b>Will I receive performance royalties from my PRO (i.e. ASCAP, BMI, SESAC etc.)?</b>
<br />

    Yes, as long as you are a registered member of one of the performing rights societies, you will receive writer's performance royalties directly from them on a quarterly basis for any broadcast placements.  If you are not registered with a PRO, you MUST register with one before signing the agreement with us.  We are not responsible for any lost revenue as a result of your failure to become registered PRO member.</p>

    <p><b>Do you re-title?</b>
<br />

    Technically we do not re-title. To keep the publisher's revenue stream separate on our placements, we add a catalog number to the title and register that as a new title with ASCAP, BMI or SESAC. Example: CMI1234 I Love You.  This tag will be listed in the exhibit on your contract as well as in your online account in your submission history. We receive 100% of the publisher's share of performance income for our placements, and you receive 100% of the writer's share of performance income on our placements only.  This will not interfere with you receiving your full publisher's share of performance on your own placements or that of other non-exclusive reps</p>

    <p><b>When I make money on my music, I have agreed to pay the band members. Who will pay
them?</b><br />
    It will be your responsibility to pay additional vocalists, musicians, arrangers, producers i.e. any third party you have a revenue sharing agreement with, out of your share of the revenues.</p>

 <p><b>Do I need a work-for-hire agreement for the musicians who performed on my recording? </b><br />
    We recommend you have each contributor sign a work-for-hire agreement when you have paid for their services, but the content created is owned solely by you.  Generally, in a work-for-hire scenario, the vocalist/musician/composer has no rights to the content, other than writer performance fees.  It is especially useful if you want to use their name/likeness such as in the artist name.  A work-for-hire is only valid if a dollar amount is paid; therefore $0 is not a valid amount to put in the contract even if your friend sang the vocal part for free. You must pay them a small amount of $. Once you have paid them for services rendered, you do not have to pay them a share of your licensing revenue. A work-for-hire agreement will protect you from any future claims by the contributors.</p>

    <p><b>What if me or my band members are union musicians?</b><br />
    We can not work with your songs if the songs were recorded under an AFM or other union agreement.  It is cost-prohibitive for us to license your songs, as the union new use and re-use fees for use in films, television shows and advertising are more than the revenue we would receive for the actual license.  We and our clients are not responsible and will not pay any new use or re-use fees for the use of your songs.</p>

    <p><b>How long does my agreement last?</b><br />
    Your agreement with Crucial Music will last 3 years and then will auto-renew for another 3 years, unless you notify us within 60 days of the expiration date, that you do not want to renew with us.</p>

    <p><b>Can my agreement be less than 3 years?</b><br />
    No.  We believe 3 years is a reasonable amount of time for us to get your music out there, and secure placements for you.</p>

    <p><b>What happens when I terminate my agreement?</b><br />
    We will remove your music from our site, business computers, and clients' Crucial:Drives, within the end of the first full calendar quarter after the termination date.  For example, your contract expires February 1. 2009.  We receive a letter from you on December 1, 2008 that you want out of the contract.  We will remove all of your songs by June 30, 2009.  If your music is part of a 'blanket' agreement, meaning a client is given x number of songs to use as much as they want for 4 years for an annual payment, then we will remove your music when their contract expires.  You will continue receiving your share of the revenue for the 4th year.  We can not recall all of the individual CDRs or DVDRs that clients have.  Any music we have  in our possession will be destroyed.   </p>

<p>If you have OPTED IN to our Rumblefish program, after you terminate your tracks with Crucial, or you decide to OPT OUT of the Rumblefish program (keeping the tracks with Crucial) we will have the tracks removed from Rumblefish and all of its platforms including Youtube Content ID, within a reasonable time after notification.  After the tracks have been removed from Rumblefish, you can expect to see residual royalties for a few quarters thereafter for the activity of the tracks during the term of agreement.</p>

 
    <p><b>What happens if I terminate the agreement, and then you inform me that you secured
a placement for me in a TV show?</b><br />
    After Termination, we will immediately stop pitching your stuff.  However, we reserve the right to license your songs, if a client received your music through us while you were under contract, but didn't use the music until after you terminated your agreement.  Again you will receive your share of the revenue from this license. </p>

    <p><b>I and my co-writers have read the agreement and are OK with the terms, what do I/we do next?</b><br />
    Please print 2 copies of the agreement, confirm all of the information is correct, have all parties sign both copies (DO NOT SIGN FOR YOUR CO-WRITER, WE DO CHECK SIGNATURES) and return both to us at:</p>

    <address>
    Crucial Music Corporation
    12031 Ventura Blvd. Ste. 2
    Studio City, CA 91604
    </address> <br>

    <p>You will also be asked to upload 16 bit, 44.1 kHz (or higher) WAV or AIFF version of your song(s) when the contract has arrived at the office (for paper contracts) or after all parties have signed (e-contract).  Exact details are provided in the answers under the Deliverables Questions.</p>

    <p>You will receive an executed copy of the agreement from us in the mail.</p>

    <h3>Deliverables Questions</h3>

    <p><b>I have reviewed the agreement and signed it, how do I send you the music?</b><br />
    Once we receive your agreement in the mail (paper contract) or all parties have signed the contract (e-contract), you will recieve an e-mail directing you to complete our questionnaire and then upload your high quality WAV or AIFF files for the song(s). You are requested to send a full version, instrumental version and clean version (if your lyrics are explicit) of each song.</p>

    <p><b>What is an instrumental version of my song?</b><br />
    An instrumental version of your song is the song without the lead and background vocals. If you have saved your session, all you have to do is create a mix without the vocal tracks.
</p>

    <p><b>What if my song is an instrumental?</b><br />
    If your song is an instrumental, then you do not have to provide anything else.</p>

    <p><b>What is a clean version of my song?</b><br />
    A clean version of your song is the song with the explicit words i.e. curse words "dropped" out from the vocal track.  This is also called a radio edit.  Basically, the explicit word is replaced by silence.  The music, which is recorded on separate tracks, is still playing underneath.</p>

    <p><b>What if I don't have instrumental or clean versions?</b><br />
    We prefer instrumental and clean versions accompany your full song, as it makes your song more usable to our clients, who sometimes like to only use instrumentals or would like to mix the vocals/music around dialogue.  Network, and even basic cable shows, have strict criteria about explicit lyrics, and may not be able to use your song, if they can not edit the explicit lyrics out.</p>

    <p><b>Can I supply the instrumental and clean versions at a later date?</b><br />    We prefer that you supply this material at the same time you return your contract.  But understand that it may take some time to pull the various mixes; and we will accept these at a later date.  But understand, it is your responsibility to send in the various mixes, and ultimately you will benefit with more uses of your music.</p>

    <h3>Music Use Questions</h3>

    <p><b>How will your clients use my music?</b><br />
    Our clients may use your song once in a show, film or commercial, or multiple times.  They may use 5 seconds or the entire song.  They may use it coming out of a radio in a car the character is driving (background use) or they may us it in a visual montage (feature use) to connect several scenes together.  The license and rates we issue depend on the number and type of uses within one production.</p>

    <p><b>What type of uses can I expect?</b><br />
    Your music will be pitched to all types of production people, ranging from film/TV music supervisors to creative directors at ad agencies.  Anyone who synchronizes music to an audio/visual production may find use for your music.  That means you could get placements in a feature film, indie film, DVD feature, film trailer, television show, television promo, video game, video game trailer, and the like.</p>

    <p><b>Will I be able to approve or reject the type of uses your client is requesting?</b>
<br />
    You will not be able to approve or deny the licenses we issue, due to the nature of the shows or the type of uses, because of personal "moral" reasons.  You are waiving those rights.
 </p>

    <p><b>Will clients be allowed to edit the songs?</b><br />
    Yes, clients will be allowed to edit your songs to fit their needs.</p>

    <p><b>Will my song be released in a show or film's soundtrack?</b><br />
    If a show or film wants to use your song in the associated soundtrack, then we will negotiate a separate license and fee for that use.  You will receive 50% of the revenue we collect as a result of the release of the soundtrack.  Not all songs used in shows or films are released on the soundtrack.</p>

    <p><b>What type of licenses does Crucial Music issue to it's clients?</b> A non-exclusive license will be issued for the exact terms a client needs.  All television shows are given the following rights: All Media excluding Theatrical (means they can't show the tv show in a movie theatre, but can anywhere/anyhow else including the internet); In-context Promos/Advertising (means they can take a clip of the show with the music embedded in that clip to promote the show); Videogram Buyout (means they don't have to pay any extra to distribute it via DVD...in foreign territories this is known as a mechanical for DVD, and the buyout waives those mechanicals in foreign territories so the writer/publisher can NOT collect those); Worldwide, and Perpetuity.  All films are given either Film Festival Rights, where they can only show the film at non-revenue producing events for a certain period of time in order to attract distributors OR All Media Rights (which is the same as Television rights plus Theater showings); In-Context Promos/Advertising; Videogram Buyout; Worldwide and Perpetuity. Advertising rights are non-exclusive or exclusive for the brand category (the latter requiring permission from the artist), for the medium requested (internet, television, theatrical, radio, industrial use ie at conventions, in retail stores etc), can include various lengths of the spot and/or lifts, a specific territory, and are for a set period of time. Crucial Music keeps a copy of every license issued, but does not supply copies of these licenses to its artists.</p>

    <p><b>When do you issue a license for the use of a song?</b> A confirmation letter is usually sent to us by the client, to inform us of the use, the details of the use and the rate we have negotiated for the use.  At this point, the song may still be dropped from the broadcast or release.  We do not issue a license/invoice until we receive a license request from the client informing us that the song has definitely been used and will be in the broadcast or release.</p>

    <p><b>Will you let me know if when my song has been used in a show, film or commercial?</b><br />
    Due to the high volume of placements we secure each year and specifically the unpredictability of television schedules and release dates, we may not be able to inform you before a song is used, and when it will air.   However, if your music is used, after we are paid for it, and the amount is more than $50, you will receive a quarterly statement (May 15, August 15, November 15 and February 15), identifying the use, and the amount of money you are being paid, along with the payment. If the amount is under $50, the report and balance will be held till the next quarter.</p>

    <p><b>Will you supply a copy of the cue sheet to me?</b><br> Crucial Music collects cue sheets but does not provide the writers/publishers a copy of the cue sheets unless they have a problem collecting their performance royalties for a specific broadcast. Crucial Music tracks performance payments with the performing rights organizations and confirms that all parties are paid; as a publisher that is one of our responsibilities on your behalf. </p>

    <p><b>What if I receive a royalty report from Crucial Music that states a song has been used in a TV show, but my report from the PRO for that broadcast quarter does not reflect the usage?</b><br />
    We receive cue sheets for every use, and we will make sure that the correct cue sheet has been submitted to the PRO.  If a payment was missed by the PRO, they will provide an adjustment in the following quarter.</p>

    <p><b>Will you supply copies of the license to me?</b><br />
    No, we do not supply copies of licenses to our artists.</p>

    <p><b>Will you pay me if my song(s) are on your website and someone listens to the song there?</b><br />
    We will not pay you for mechanical fees for the duplication of your songs for promotional uses (i.e. pitching) or performance fees associated with the audition of your music (i.e. via internet, email, hard-drive).</p>

    <p><b>How long does it take to receive payment from a client?</b><br />
    Sometimes it's within 30 days of issuing the license/invoice and other times it can be a year.   Studios generally do not pay until the production has been broadcast or released.  We have an accounting department which is responsible for collecting payments.</p>

  <a class="page-editor-link" href="https://www.crucialmusic.com/admin/stored_pages/5/edit">Edit</a>



      </div>